<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>Label</key>
 <string>com.hydrasquared.sanity.responder</string>
 <key>RunAtLoad</key>
 <true/>
 <key>Program</key>
 <string>/Users/indika/dev/sanity/responder/dist/build/sanity/sanity</string>
 </dict>
</plist>
